@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
#__next {
  color: rgb(var(--foreground-rgb));
}

@media screen and (max-width: 800px) {
  #__next header {
    padding-left: 1rem;
    padding-right: 1rem;

  }
  #__next header > div {
    /* justify-content: end; */
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #__next header ul {
    gap: 0.75rem;
    /* display: none; */
  }
  .flex-table tbody tr th {
    display: block;
    padding-bottom: 0;
    text-align: left;
  }
  .flex-table tbody tr td {
    display: block;
    padding-bottom: 1rem;
  }
}